* {
  box-sizing: border-box;
}

.board-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 10px 0;
}

.board-item {
  background-color: rgb(42, 42, 42);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.board-item:hover {
    transform: translateY(-5px);
}

.board-item.blue {
    border-top: 4px solid #3409db;
}

.board-item.white {
    border-top: 4px solid #ffffff;
}

.board-item.white {
    border-top: 4px solid rgb(89, 82, 209);
}
